html,
body {
  height: 100%;
  margin: 0px;
}

#root {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.eudaimonia {
  overflow: hidden;
  height: 100vh;
}

.MuiLinearProgress-bar1Determinate {
  transition: none !important;
  -webkit-transition: none !important;
}
