html,
body {
  height: 100%;
  margin: 0px;
}

#root {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.textPanel {
  mask-image: linear-gradient(black, transparent);
  mask-mode: alpha;
}

.eudaimonia {
  overflow: hidden;
}
